


<!-- 

    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}PathFinder.com{% endblock %}</title> -->
    <!-- {% load  %}  -->
    <!-- Latest compiled and minified CSS -->
 
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->

    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<script type="text/javascript">
  ('.my-select').selectpicker();
(function () {
    $('select').selectpicker();
});
</script>

</head>
<style type="text/css">
        body { 
         background: url('{% static "image/containers.jpg" %}') no-repeat center center fixed; 
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
        }
        button
        {
          position: absolute;
          top: 89%;
        }
}
</style>

  <style>
  body {
      position: relative; 
  }
  #section1 {padding-top:40px;height:1000px;color: #fff;  
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;}

  #section2 {padding-top:40px;height:1000px;color: #fff;  background: url('{% static "images/7.png" %}') no-repeat center center fixed; 
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;}
  #section3 {padding-top:40px;height:1000px;color: #fff;  background: url('{% static "images/8.png" %}') no-repeat center center fixed; 
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;}



  </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#section1"><h4>Supermarket Pathfinder</h4></a></li>
          <li><a href="#section2"><h4>Abstract</h4></a></li>
          <li><a href="#section3"><h4>Instructions</h4></a></li>
         
        
        </ul>
      </div>
    </div>
  </div>
</nav>    

<div id="section1" class="container-fluid">
   
<table class="table table-dark"  style="margin:1em auto;">
  <thead>
    <tr>
      <th scope="col-md-4">Your Path Length</th>
      <th scope="col-md-4">Shortest Path</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ dist_of_manual1 }}</td>
      <td>{{ possible_ans1 }}</td>
    </tr>
    
  </tbody>
</table>







 
</div>
<div id="section2" class="container-fluid">

</div>
<div id="section3" class="container-fluid">

</div>


<div class="wrapper">
  
</div>

</body>
</html>












 -->






            
     <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  -->
<!-- <link rel="stylesheet" href="css/style.css"> -->
<!-- <script src="js/.js"></script> -->
<!-- <script src="{% static "js/multiple_select_menu.js" %}"></script>
 <script src="{% static "css/multiple_items.css" %}"></script> -->
    <!-- <link rel="stylesheet" href="{% static "css/base.css" % }"/> -->
     <!-- <link rel="stylesheet" href="{% static "js/multiple_select_menu.js" % }"/> -->
  <!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <!--    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>
<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'> -->
  
 <!--  <style >
  body
  {
      /* background-image: url("http://www.irbsearch.com/img/slides/bg-most-data.jpg"); */
      /*background-image: url("http://www.reuun.com/data/out/139/403696063-website-wallpapers.png"); */
      background-repeat:no-repeat;
      background-size:150%;
  }
  div
  {

    align-content: center;
    top: 50%;
  }
  </style>
  <style>
  .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,20);
      transition: 0.3s;
  }
  /* On mouse-over, add a deeper shadow */
  .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,20);
  }
  /* Add some padding inside the card container */
  .container {
      padding: 2px 16px;
  }
  em {      font-size: 200%;     }
  </style>
<body>
  <p>hi</p>

<div align="center">
<table class="table-bordered">
  <tr>
    <td>Your Path Length</td>
    <td>Shortest Path</td>
    
  <tr>
  <tr>
    <td><h3> {{ dist_of_manual1 }} </h3></td>
    <td><h3>{{ possible_ans1 }}</h3></td>

  </tr>
  
</table>
</div>

<br>
<br>
<h1> {{ dist_of_manual1 }} </h1>
<h1>{{ possible_ans1 }}</h1>

  
</body>
</html> -->