{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<nav class="navbar  large navbar navbar-inverse bg-inverse" style= "width:100% ; margin: 0 auto;background-color:#000000">
      <div class="container">
            <ul class="nav navbar-nav ">
              <li>  <img src="{% static "images/sirmvit.jpg" %}" alt="PathFinder" style="width:50px;height:50px;"></li>
              <li ><label><a class ="navbar-brand " href="{% url 'home' %}">Home</a></label></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               {% if user.is_authenticated %}
              <li><a class ="navbar-link " href="{% url 'logout' %}"><span class="glyphicon glyphicon-user"></span>logout</a></li>
              <li><a class ="navbar-link"href="{% url 'home2' %}">Game</a></label></li>
              <li><a class ="navbar-link"href="{% url 'about' %}">About</a></label></li>
               {% else %}
               <li><a class ="navbar-link"href="{% url 'login' %}">Login</a></label></li>
               <li><a class ="navbar-link"href="{% url 'signup' %}">Signup</a></label></li>
               <li><a class ="navbar-link"href="{% url 'home2' %}">Game</a></label></li>
              {% endif %}

            </ul>
    </div>
  </nav>

    <div class ="container">
      <div class ="jumbotron" style= "text-align :center ; margin :0 auto">


        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        </div>
        <br>
        <br>
        {% for product in products %}
            <div class="row">
              <div class="col-xs-4">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
              </div>
              <div class="col-xs-8">
                <h1><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h1><br>
                ${{ product.price }}<br>
                <br>
                {{ product.description|linebreaks }}
              </div>
            </div>


                 <hr style="display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;">


        {% endfor %}
    </div>
{% endblock %}