{% extends 'base.html' %}

{% block content %}
<style>
body  {
  background-image: url("http://www.reuun.com/data/out/139/403696063-website-wallpapers.png");
  background-repeat:no-repeat;
  background-size:150%;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('https://img.collegepravesh.com/2017/02/Sir-MVIT-Logo.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
</style>
<div align="left">
  <h1>Sign Up</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
</div>
{% endblock %}
